<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h5>Required: <br/ ></h5>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
	<% priority_list = get_priorities %>
	<%= select_tag('idea[priority]', priority_list) %>
  </div>
  <div class="field">
    <%= f.label :duration %><%= f.label " (TODO timepicker)" %><br />
    <%= f.number_field :duration %>
  </div>
  <br />
    <h5>Optional: <br/ ></h5>
  <div class="field">
    <%= f.label :loc_long %><br />
    <%= f.text_field :loc_long %>
  </div>
  <div class="field">
    <%= f.label :loc_lat %><br />
    <%= f.text_field :loc_lat %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
