<% if user_signed_in? %>

	<h3>Unscheduled Ideas</h3>
	<h5> (What you would like to do, but haven't yet determined when. Perhaps we can help!) </h5>
		<table>
		<% prev_category = " " 
		   first = true %>
		<table>
		<% if current_user.ideas.empty? %>
		
		<% else %>
			<% current_user.ideas.sort_by{|sortable| [sortable.category, -sortable.priority]}.each do |idea| %>
			
			  <% unless (prev_category == idea.category) %>
				</table>
				<% prev_category = idea.category %>
				<h4><%= prev_category %></h4>
				<table>
				
			  <% end %>
			  
			  <tr>
			  <% if (first == true) %>
					<td><div class="arrow-right"></div></td>

				<% first = false
				   end %>
				<td class="event"><%= idea.title %></td>
			
				
				<td><%= link_to 'Show', idea %></td>
				<td><%= link_to 'Edit', edit_event_path(idea) %></td>
				<td><%= link_to 'Destroy', idea, confirm: 'Are you sure?', method: :delete %></td>
			  </tr>
			<% end %>
			</table>
		
		<% end %>
		<br />
		<br /><br /><br />
		<h2><%= link_to 'New Idea', new_idea_path %>
		<br /><br />
		<%= link_to 'My Events (scheduled)', events_path %></h2>

		<br /><br />
		
		<footer></footer>

<% else %>
<h2> You must sign in before you can view ideas. </h2>
<% end %> 