<p id="notice"><%= notice %></p>
<% if user_signed_in? %>

	<h4>Possibilities for <%= @idea.title %></h4>
	
		<table>
		
		<tr>
			<td><b>Start Time:</b></td>
			<td><b>End Time:</b></td>
			<td><b>Score:</b></td>
		</tr> 
		<% @possibilities.each do |possibility| %>
		  
		  
		  
		  <tr>
			<td><%= possibility.start_time %></td>
			<td><%= possibility.end_time %></td>
			<td><%= possibility.score %></td>
		  </tr>
		<% end %>
		</table>
		<br />
		<br /><br /><br />
		<h2><%= link_to 'New Idea', new_idea_path %>
		<br /><br />
		<%= link_to 'My Events (scheduled)', events_path %></h2>

		<br /><br />
		
		<footer></footer>

<% else %>
<h2> You must sign in before you can view these possibilities. </h2>
<% end %>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
