<h3><div>
    <p>
      <b>Title:</b>
      <%= @idea.title %>
    </p>

    <p>
      <b>Priority:</b>
      <%= get_priority_name(@idea.priority) %>
    </p>

    <p>
      <b>Duration:</b>
      <%= format_duration(@idea.duration) %>
    </p>

    <p style="visibility:hidden">
      <b>User:</b>
      <%= @idea.user %>
    </p>


    <%= link_to 'Edit', edit_idea_path(@idea) %> |
    <%= link_to 'Back', ideas_path %>
</div></h3>
