
<%= stylesheet_link_tag    "timepicker", :media => "all" %>
  
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
	<% priority_list = get_priorities(@event.priority) %>
	<%= select_tag('event[priority]', priority_list) %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time, :id => 'start_time', :as => :string, :value => format_date_input(@event.start_time) %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.text_field :end_time, :id => 'end_time', :as => :string, :value => format_date_input(@event.end_time) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>