<% if user_signed_in? %>
		
		<h3>Upcoming Tasks</h3>
		<table>
		<% prev_category = " " 
		   first = true %>
		<table>
		
		<% current_user.events.sort_by{|sortable| [sortable.category, sortable.start_time, -sortable.priority]}.each do |event| %>
		  <% if event.end_time < Time.now.utc %>
		  <% else %>
			  <% unless (prev_category == event.category) %>
				</table>
				<% prev_category = event.category %>
				<h4><%= prev_category %></h4>
				<table>
				
			  <% end %>
			  
			  <tr>
			  <% if (first == true) %>
					<td><div class="arrow-right"></div></td>

				<% first = false
				   end %>
			  <td class="time"><%= event.start_time.strftime('%l:%M %p') %></td>
				<td class="event"><%= event.title %></td>
				<td class="event"> (until <%= event.end_time.strftime('%l:%M %p') %>)</td>
				
				<td><%= link_to 'Show', event %></td>
				<td><%= link_to 'Edit', edit_event_path(event) %></td>
				<td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
			  </tr>
			  
			<% end %>
		<% end %>
		</table>
		<br /><br />
		<br /><br />
		
		<h2><%= link_to 'New Event', new_event_path %>
		<br /><br />
		<%= link_to 'My Ideas (unscheduled events)', ideas_path %>
		</h2>


		<footer></footer>





<% else %>
<h2> You must sign in before you can view any events </h2>
<% end %> 
	