<h3 id="spaceout">
<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Priority:</b>
  <%= @event.priority %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End Time:</b>
  <%= @event.end_time %>
</p>
</h3>

<h3>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Destroy', @event, confirm: 'Are you sure?', method: :delete %> 
</h3>

<br / >
<h3><%= link_to 'Return to events schedule', events_path %></h3>
