<!DOCTYPE html>
<html>
<head>

  <title>CloudSpiders</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>	
<nav><h1>
		<%= Time.now.strftime('%l:%M %p') %>
	</h1>
	<% weather_overview = weather_helper(current_user) %>
	<%= image_tag "weather.png", {:alt=>weather_overview, :id => "weather"} %>

</nav>
			<div id="arrow-left"></div>
			<div id="config-container"></div>
			<a href="#">
				<%= image_tag "config.png", {:alt=>"Settings", :id => "config"} %>
			</a>
			<br/>
</header>
<div id="overlay-t"></div>
		<div id="overlay-r"></div>
		<div id="overlay-b"></div>
		<div id="overlay-l"></div>
<h2><%= Time.now.strftime('%a %d, %b, %Y') %></h2>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
<div align = "center">
<% if user_signed_in? %>
    <h6 style="padding-left: 0px; margin-bottom: 1em">
		<%= current_user.email %> is logged in. If user is not you, click <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
	</h6>
	<h5 style="padding-left: 0px;padding-top: 0px;margin-top: 0px"> 
		Feeling social? <%= link_to 'Connect to social media.', authentications_path %>
	</h5>
<% else %>
	<b>
    <%= link_to "Register", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
	</b>
	<% end %>
</div>

</body>
</html>