<!DOCTYPE html>
<html>
<head>

  <title>CloudSpiders</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div id="menu" align="right">
        
        <div id="menu_top">
            <%= image_tag "config.png", {:alt=>"Settings", :id => "menu_icon"} %> <h1 id="white">CONFIG</h1>
            <br />
        </div>
        <% if user_signed_in? %>
        <dl>
        <dt>GENERAL</dt>
        <dd>City: <%=current_user.user_preference.city%>, <%=current_user.user_preference.country%> </dd>
        <dd>Timezone: <%=current_user.user_preference.timezone%></dd>
        <%-# <dd>Clock Format: 24 hour</dd> -%>
        <dd>Color: #<%=current_user.user_preference.primary_color%></dd>
        <br />
        
        <dt>ALARM</dt>
        <dd>2 hours before appointments</dd>
        <%= link_to "Edit Preferences", edit_user_preference_path(current_user.user_preference) %> 
        </dl>
        <% else %>
        
        <% end %>
</div>
    
<header>	

<nav><h1 id="white">
		<% if user_signed_in?
				user_time_zone = current_user.user_preference.timezone
			else
				user_time_zone = "UTC"
			end %>
		<%= get_time.strftime('%l:%M %p') %>
	</h1>
	<% weather_overview = weather_forecast_helper(current_user, get_time) %>
	<%= image_tag "weather/#{weather_overview}.png", {:alt=>weather_overview, :id => "weather"} %>
	
</nav>
			<div id="arrow-left"></div>
			<div id="config-container"></div>
            <a href="#" id="settings">
				<%= image_tag "config.png", {:alt=>"Settings", :id => "config"} %>
			</a>
			<br/>
</header>

<div id="overlay-t"></div>

		<div id="overlay-r"></div>
		<div id="overlay-b"></div>
		<div id="overlay-l"></div>
<h2><%= Time.now.strftime("%A, %B #{Time.now.day.ordinalize}") %></h2>

<p id="notice" class="notice"><%= notice %></p>
<p id="alert" class="alert"><%= alert %></p>

<%= yield %>
<div align = "center">
<% if user_signed_in? %>
    <h6>
		<%= current_user.email %> is logged in. If user is not you, click <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
	</h6>
	<h5> 
		Feeling social? <%= link_to 'Connect to social media.', authentications_path %>
	</h5>
<% else %>
	<b>
    <%= link_to "Register", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
	</b>
	<% end %>
</div>

</body>
</html>
