<!DOCTYPE html>
<html>
<head>

  <title>CloudSpiders</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div id="menu" align="right">
        
        <div id="menu_top">
            <%= image_tag "config.png", {:alt=>"Settings", :id => "menu_icon"} %> <h1>CONFIG</h1>
            <br />
        </div>
        
        <dl>
        <dt>GENERAL</dt>
        <dd>City: Toronto, Ontario</dd>
        <dd>Clock Format: 12 hour</dd>
        <dd>Color: #abd03d</dd>
        <br />
        
        <dt>ALARM</dt>
        <dd>2 hours before appointments</dd>
        
        </dl>
        
</div>
    
<header>	
    <nav><h1>
            <%= Time.now.strftime('%l:%M %p') %>
        </h1>

        <%= image_tag "weather.png", {:alt=>"Sunny", :id => "weather"} %>

    </nav>

    <div id="arrow-left"></div>
    <div id="config-container"></div>
    <a href="#" id="settings">
        <%= image_tag "config.png", {:alt=>"Settings", :id => "config"} %>
    </a>
    <br/>
    
</header>

<div id="overlay-t"></div>
<div id="overlay-r"></div>
<div id="overlay-b"></div>
<div id="overlay-l"></div>

<h2><%= Time.now.strftime('%a %d, %b, %Y') %></h2>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
<div align = "center">
<% if user_signed_in? %>
    <h6 style="padding-left: 0px; margin-bottom: 1em">
		<%= current_user.email %> is logged in. If user is not you, click <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
	</h6>
	<h5 style="padding-left: 0px;padding-top: 0px;margin-top: 0px"> 
		Feeling social? <%= link_to 'Connect to social media.', authentications_path %>
	</h5>
<% else %>
	<b>
    <%= link_to "Register", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
	</b>
	<% end %>
</div>

</body>
</html>